ul {
  list-style: none;
}

/* Homepage background styles */
.cryptopunk-background {
    background: linear-gradient(to right, black, transparent), url('/public/images/product/cryptopunks/homepage-2x.png');
    background-position: center;
    image-rendering: pixelated;
}
.flutterweb-background {
    background: linear-gradient(to right, black, transparent), url('/public/images/product/githubdataviz/homepage-2x.png');
    background-position: right center;
    background-repeat: no-repeat;
}
.bg-black {
    background: black;
}
@media (max-width: 767px) {
    .flutterweb-background {
        background-position: center;
    }
}

/* Responsive video embed */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footnote {
    font-size: 12px;
    padding: 0px;
}

/* Override some styles */
pre {
    margin: 0;
    border: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__menu.active {
    display: block;
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    height: 100vh;
    padding-top: 40px;
    left: 0;
    right: 0;
  }
  .header__menu.active ul {
    flex-direction: column;
    margin-top: 40px;
  }
  .header__menu.active ul li a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
  }
}
.header__menu ul {
  display: flex;
}
.header__menu ul li {
  padding-left: 16px;
  padding-right: 16px;
}
.header__menu ul li a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  color: #262626;
  position: relative;
  z-index: 10;
  display: inline-block;
}
.header__menu ul li a:hover:after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background-color: #A2DD18;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  opacity: 0.99;
}
.header__menu ul li.telegram a {
  margin-left: 24px;
}
.header__menu ul li.telegram a:before {
  background-image: url("../img/unique/telegram.svg");
  background-size: cover;
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: -24px;
}
.slider {
  padding-bottom: 20px;
  padding-top: 120px;
  border-bottom: 1px solid #000;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .slider {
    padding-top: 0;
  }
}
.slider p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.substrate,
.features,
.more {
  border-bottom: 1px solid #262626;
  padding-bottom: 40px;
}
.substrate p,
.features p,
.more p {
  font-size: 20px;
  line-height: 1.5;
}
.substrate ul li,
.features ul li,
.more ul li {
  font-size: 20px;
  margin-bottom: 24px;
}
.substrate ul li:before,
.features ul li:before,
.more ul li:before {
  content: '-';
  margin-right: 4px;
}
.substrate ul li a,
.features ul li a,
.more ul li a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  color: #262626;
  position: relative;
  z-index: 10;
  display: inline-block;
}
.substrate ul li a:after,
.features ul li a:after,
.more ul li a:after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background-color: #A2DD18;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  opacity: 0.99;
}
.substrate ul li a:hover:after,
.features ul li a:hover:after,
.more ul li a:hover:after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  opacity: 0.99;
}
.more {
  border-bottom: none;
  padding-bottom: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content .hide-button {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 45px;
  cursor: pointer;
}

.filter {
  display: none;
  position: relative;
  z-index: 1;
  top: 0;
  bottom: 150px;
  left: 0;
  right: 150px;
  transition: opacity 1s ease-out;
}

.filter td {
  padding-right: 50px; vertical-align: top;
}

/*# sourceMappingURL=unique.css.map */
